/*
* PONER FONDO EN LA PAGINA 
*/
.navegador{
    background-color:#f5c3a7;
}

.footer{
    background-color:#f8ebe4;
}

h5{
    color:#b38f76;
}
.distinto{
    color:#2e251f;
}
.tamano{
    width:30%;
}

.columna{
    background-color:#dfbc9f;
}